/task/main.html
/task/Ocean.html
/task/TimeZone.html
/task/Weather.html
/task/libs/js/script.js
/task/libs/js/scriptOcean.js
/task/libs/js/scripttime.js
/task/libs/js/scriptweather.js
/task/libs/getCountryInfo.php


